@font-face {
  font-family: "droid kufi";
  src: url("../assets/fonts/webfontkit-20190529-043135/droidkufi-bold-webfont.woff2") format("woff2"), url("../assets/fonts/webfontkit-20190529-043135/droidkufi-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "droid kufi";
  src: url("../assets/fonts/webfontkit-20190529-043135/droidkufi-regular-webfont.woff2") format("woff2"), url("../assets/fonts/webfontkit-20190529-043135/droidkufi-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "droid sans";
  src: url("../assets/fonts/webfontkit-20190529-043135/droidsans-webfont.woff2") format("woff2"), url("../assets/fonts/webfontkit-20190529-043135/droidsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "droid sans";
  src: url("../assets/fonts/webfontkit-20190529-043135/droidsans-bold-webfont.woff2") format("woff2"), url("../assets/fonts/webfontkit-20190529-043135/droidsans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "droid sans", "open sans";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2,
p {
  margin: 0;
}

.page-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.no-scroll {
  overflow: hidden;
}

.fixed-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 1;
}

.section-title-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
}
.section-title-wrap::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  height: 60px;
  width: 20px;
  background-color: #8f2833;
  transform: translateY(-50%);
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: #53555a;
  white-space: nowrap;
}

.section {
  max-width: 1680px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 1.6em;
  }
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 1.9em;
  }

  .section {
    padding: 0 50px;
  }
}
@-webkit-keyframes slideshow {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    z-index: 1;
  }
  /* fade in from 0% to 8% =  3 seconds
  note: z-index = 1 (dafault 0) because we want that image clickable as soon as it begins to appear and return it to 0 when disappear*/
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  /* stay visible from 8% to 17% =  3 seconds */
  20% {
    opacity: 1;
  }
  /* fade out from 17% to 25% =  3 seconds */
  30% {
    opacity: 0;
    z-index: 0;
  }
  /* stay hidden from 25% to 100% =  27 seconds */
  100% {
    opacity: 0;
  }
  /* total animation time = 36 seconds */
}
@keyframes slideshow {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    z-index: 1;
  }
  /* fade in from 0% to 8% =  3 seconds
  note: z-index = 1 (dafault 0) because we want that image clickable as soon as it begins to appear and return it to 0 when disappear*/
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  /* stay visible from 8% to 17% =  3 seconds */
  20% {
    opacity: 1;
  }
  /* fade out from 17% to 25% =  3 seconds */
  30% {
    opacity: 0;
    z-index: 0;
  }
  /* stay hidden from 25% to 100% =  27 seconds */
  100% {
    opacity: 0;
  }
  /* total animation time = 36 seconds */
}
@keyframes circular-wave-loader {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes circular-wave {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rFadeInOut {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo-wrap {
  position: fixed;
  top: 0;
  left: 5vw;
  height: 100px;
  z-index: 99;
  transition: transform 0.5s;
  overflow: hidden;
}
.logo-wrap.hidden {
  transform: translate3d(0, -100%, 0);
}

.logo-full {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 100%;
  background: #8f2833;
  float: left;
}
.logo-full img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slogan-wrap {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  color: white;
}
.slogan-wrap span {
  display: block;
  margin-top: 67px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000000;
}

.covers-slideshow-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slideshow,
.slideshow-images {
  width: 100%;
  height: 100%;
}

.slideshow-images li {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  -webkit-animation: slideshow 30s linear infinite;
  animation: slideshow 30s linear infinite;
}
.slideshow-images li:nth-child(1) {
  background-image: url("../assets/images/slideshow/1.jpg");
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.slideshow-images li:nth-child(2) {
  background-image: url("../assets/images/slideshow/2.jpg");
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.slideshow-images li:nth-child(3) {
  background-image: url("../assets/images/slideshow/3.jpg");
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}
.slideshow-images li:nth-child(4) {
  background-image: url("../assets/images/slideshow/4.jpg");
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}
.slideshow-images li:nth-child(5) {
  background-image: url("../assets/images/slideshow/5.jpg");
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

.projects-overview-wrap {
  position: relative;
  z-index: 1;
}

.overview-content {
  background-color: white;
  margin-top: -60px;
  padding: 0 10px;
}

.overview-container {
  display: flex;
  flex-direction: column;
}

.overview-selectors {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}
.overview-selectors:hover .overview-item-header span {
  transition: transform 0.3s;
  transform: translateY(100%);
}

.overview-item {
  position: relative;
  display: flex;
  height: 100px;
  margin: 0 3px;
  flex: 1;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 3px #333;
  -webkit-transition: flex 0.5s;
  transition: flex 0.5s;
}
.overview-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #9c1b31b3;
  transition: opacity 0.5s;
  pointer-events: none;
}
.overview-item a,
.overview-item img {
  width: 100%;
  height: 100%;
}
.overview-item img {
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.5s;
}
.overview-item [data-scroll-to] {
  cursor: pointer;
}
.overview-item:hover {
  flex: 3;
}
.overview-item:hover img {
  filter: grayscale(0);
}
.overview-item:hover::after {
  opacity: 0;
}

.overview-item-header {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  font-weight: 900;
  font-size: 0.55em;
  color: white;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}
.overview-item-header span {
  display: block;
  transition: transform 0.3s 0.5s;
}

.overview-text-list {
  position: relative;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  background: #f7f7f7;
  margin-top: 5px;
  padding: 2px 0;
}

.overview-text-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;
}
.overview-text-item.shown {
  opacity: 1;
  transition: opacity 0.75s;
  pointer-events: all;
}
.overview-text-item .blank {
  display: none;
}
.overview-text-item .text h3 {
  max-width: 550px;
  margin: 0;
  padding: 5px 0;
}
.overview-text-item .text p {
  max-width: 550px;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .overview-text-item {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    transition: opacity 0.2s, flex 0.5s;
  }
  .overview-text-item:first-child {
    position: relative;
  }
  .overview-text-item div {
    margin: 0 3px;
  }
  .overview-text-item.shown {
    transition: opacity 0.75s;
  }
  .overview-text-item .blank {
    display: block;
    flex: 1;
  }
  .overview-text-item .text {
    flex: 3;
  }

  .overview-item {
    height: 250px;
    margin: 0 3px;
  }

  .overview-item-header {
    font-size: 1.15em;
  }
}
.master-plan-wrap {
  position: relative;
}

.master-plan-title-wrap {
  background-color: white;
}

.master-plan-content {
  position: relative;
}

.master-plan-buttons {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 0.65em;
  font-weight: 600;
  overflow: hidden;
  pointer-events: none;
}
.master-plan-buttons .mp-btn {
  position: absolute;
  width: 10%;
  height: 13%;
  border-radius: 50%;
  background-color: #9c1b31b3;
  pointer-events: none;
}
.master-plan-buttons .mp-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.master-plan-buttons .mp-btn:nth-child(1) {
  top: 26%;
  right: 38%;
  font-weight: 100;
}
.master-plan-buttons .mp-btn:nth-child(2) {
  bottom: 21%;
  right: 27%;
}
.master-plan-buttons .mp-btn:nth-child(3) {
  bottom: 12%;
  left: 18%;
}
.master-plan-buttons .mp-btn:nth-child(4) {
  top: 53%;
  left: 21%;
}
.master-plan-buttons .mp-btn:nth-child(5) {
  top: 25%;
  left: 27%;
}
.master-plan-buttons .mp-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #8f2833;
  border-radius: 50%;
  animation: circular-wave 4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.master-plan-buttons .mp-btn.selected span {
  color: white;
}
.master-plan-buttons .mp-btn.selected::before {
  transform: none;
}

.master-plan-wrapper {
  position: relative;
  margin-top: 5px;
  box-shadow: 0 2px 2px #666;
}

.master-plan-image,
.image-hover {
  width: 100%;
}

.image-hover {
  position: absolute;
  top: 0;
  left: 0;
}

.master-plan-image img {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.image-hover img {
  position: absolute;
  width: 100%;
}

.image-hover {
  pointer-events: none;
}

.image-hover img {
  opacity: 0;
  transition: opacity 1s;
}

.image-hover .hovered {
  opacity: 1;
}

area,
img,
map {
  outline: none;
}

.image-map area {
  display: inline;
  cursor: pointer;
}

.hover-details {
  background-color: aliceblue;
}

.detail {
  position: absolute;
  padding: 10px 20px;
  width: 15%;
  font-size: 1.3vw;
  text-align: center;
  color: #c8c8c8;
  transition: transform 0.5s 0.2s;
  transform: scale3d(1, 0, 1);
}

.bisak-detail {
  background-color: rgba(254, 248, 181, 0.7);
  color: #969696;
}

.type-a-detail {
  background-color: rgba(255, 255, 255, 0.7);
  color: #969696;
}

.type-b-detail {
  background-color: rgba(163, 88, 84, 0.7);
}

.type-c-detail {
  background-color: rgba(232, 152, 141, 0.7);
  color: #646464;
}

.type-d-detail {
  background-color: rgba(65, 64, 66, 0.7);
}

#bisak-detail {
  top: 27%;
  right: 9%;
}

#type-a-detail {
  bottom: 27%;
  right: 9.8%;
}

#type-b-detail {
  bottom: 35%;
  left: 36%;
}

#type-c-detail {
  bottom: 25%;
  left: 35%;
}

#type-d-detail {
  bottom: 38%;
  left: 22%;
}

.detail-text {
  transition: opacity 0.3s;
  opacity: 0;
}

.detail h3 {
  margin: 0;
}

.detail p {
  margin: 0;
}

.detail-shown {
  transition: transform 0.5s;
  transform: scale3d(1, 1, 1);
}

.detail-shown .detail-text {
  transition: opacity 0.3s 0.5s;
  opacity: 1;
}

.mp-color-keys-container {
  display: none;
}

.touch-supported .master-plan-buttons {
  display: block;
}
.touch-supported .detail {
  display: none;
}
.touch-supported .mp-color-keys-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.touch-supported .mp-color-keys-container img {
  position: absolute;
  width: 100%;
}
.touch-supported .mp-color-keys-container img:not(:first-child) {
  opacity: 0;
  transition: opacity 1s;
}

@media (min-width: 768px) {
  .master-plan-buttons .mp-btn span {
    font-size: 1.8em;
  }
}
.mp-trigger .image-hover img:nth-child(1) {
  animation-name: fadeInOut;
  animation-duration: 2s;
  animation-delay: 0s;
}
.mp-trigger .image-hover img:nth-child(2) {
  animation-name: fadeInOut;
  animation-duration: 2s;
  animation-delay: 1.5s;
}
.mp-trigger .image-hover img:nth-child(3) {
  animation-name: fadeInOut;
  animation-duration: 2s;
  animation-delay: 3s;
}
.mp-trigger .image-hover img:nth-child(4) {
  animation-name: fadeInOut;
  animation-duration: 2s;
  animation-delay: 4.5s;
}
.mp-trigger .mp-color-keys-container img:nth-child(2) {
  animation-name: fadeInOut;
  animation-duration: 3s;
  animation-delay: 0s;
}
.mp-trigger .mp-color-keys-container img:nth-child(3) {
  animation-name: fadeInOut;
  animation-duration: 3s;
  animation-delay: 1.5s;
}
.mp-trigger .mp-color-keys-container img:nth-child(4) {
  animation-name: fadeInOut;
  animation-duration: 3s;
  animation-delay: 3s;
}
.mp-trigger .mp-color-keys-container img:nth-child(5) {
  animation-name: fadeInOut;
  animation-duration: 2s;
  animation-delay: 4.5s;
}

.facilities-title-wrap {
  background-color: white;
}

.facilities-imgs-wrap {
  width: 100%;
}

.facilities-img {
  overflow: hidden;
  position: relative;
  margin: 10px 0;
  box-shadow: 0 3px 5px #333;
}
.facilities-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s, filter 0.3s;
}
.facilities-img:hover img {
  filter: none;
}
.facilities-img-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 1.2em;
  background-color: rgba(20, 20, 20, 0.7);
}

@media (min-width: 768px) {
  .facilities-img {
    border: 1px white solid;
    margin: 0;
    box-shadow: none;
  }

  .facilities-row-1 {
    display: flex;
    height: 256px;
    width: 100%;
  }

  .facilities-row-2 {
    display: flex;
    height: 256px;
  }

  .facilities-row-3 {
    display: flex;
    height: 256px;
  }

  .facilities-row-4 {
    display: flex;
    height: 256px;
  }

  .facilities-img {
    flex: 1;
    height: 100%;
  }
}
.location-wrap {
  z-index: 100;
}
.location-wrap .location-content {
  width: 100%;
  position: relative;
  box-shadow: 0 0px 4px #666;
}
.location-wrap .map {
  width: 100%;
  height: 100%;
  object-fit: none;
}
.location-wrap #map {
  width: 100%;
  height: 720px;
}
.location-wrap area:not(:first-child) {
  cursor: initial;
}

.location-image-hover {
  width: 100%;
  height: 100%;
}
.location-image-hover img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.footer {
  width: 100%;
  min-height: 80px;
  background-color: #8f2833;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.5px lightgray solid;
}

.footer-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 5vw 10px 5vw;
}
.footer-content .footer-left-side,
.footer-content .footer-right-side {
  width: 49%;
  padding: 0 10px;
}
.footer-content .footer-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid #7e071d;
  font-size: 0.66em;
  color: white;
}
.footer-content .footer-right-side .copyright {
  margin-top: 10px;
}

.colored-phone-number {
  color: yellow;
}

.social-media {
  margin-top: 3px;
  display: flex;
}
.social-media a {
  display: block;
  position: relative;
  margin: 0 25px 0 0;
  text-align: center;
  color: #7e071d;
  font-size: 1.2em;
  overflow: hidden;
  transition: color 0.2s;
}
.social-media a:hover {
  color: white;
}
.social-media .facebook::before {
  background-color: #3b5998;
}
.social-media .twitter::before {
  background-color: #1da1f2;
}
.social-media .instagram::before {
  background-color: #c32aa3;
}
.social-media span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.footer-logo {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-logo img {
  width: 100px;
}

@media (min-width: 640px) {
  .footer-content .footer-right-side {
    font-size: 80%;
  }

  .social-media a {
    font-size: 1.2em;
  }

  .master-plan-buttons .mp-btn span {
    font-size: 1.4em;
  }
}
@media (min-width: 768px) {
  .footer-logo img {
    width: 125px;
  }

  .social-media a {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  .footer-logo img {
    width: 150px;
  }
}
.info-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(30, 30, 30, 0);
  z-index: 99;
  transition: background-color 0.5s;
  pointer-events: none;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}
.loader span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader span::before, .loader span::after {
  content: "";
  display: block;
  border: 3px white solid;
  border-radius: 50%;
  animation: circular-wave-loader 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.loader span::before {
  position: absolute;
  width: 50px;
  height: 50px;
}
.loader span::after {
  width: 35px;
  height: 35px;
  animation-delay: 0.3s;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #8f2833;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}
.loading-bar span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: transform 0.75s ease-in-out;
}

.info-box-container {
  width: 100%;
  height: 100%;
  padding: 4vh 4vw 14vh 4vw;
}

.info-box {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s;
}

.villa-info {
  background-color: #a9aaad;
}
.villa-info .info-text-wrap {
  background-color: #a9aaad;
}
.villa-info .info-section-button {
  background-color: rgba(169, 170, 173, 0.85);
}

.bc-info {
  background-color: #6b1d26;
}
.bc-info .info-text-wrap {
  background-color: #6b1d26;
}
.bc-info .info-section-button {
  background-color: rgba(107, 29, 38, 0.85);
}

.d-info {
  background-color: #414042;
}
.d-info .info-text-wrap {
  background-color: #414042;
}
.d-info .info-section-button {
  background-color: rgba(65, 64, 66, 0.85);
}

.info-shown {
  background-color: rgba(30, 30, 30, 0.97);
  pointer-events: all;
}
.info-shown .loader,
.info-shown .loading-bar {
  opacity: 1;
}
.info-shown .info-close-show {
  opacity: 1;
  pointer-events: all;
}
.info-shown .info-box-shown {
  transition-delay: 1s;
  transform: none;
  opacity: 1;
}
.info-shown .info-box-shown + .loader, .info-shown .info-box-shown ~ .loading-bar {
  opacity: 0;
}

.box-close {
  position: absolute;
  background: rgba(0, 0, 0, 0.72);
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.box-close span {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  line-height: 1.65;
  color: white;
  pointer-events: none;
}

.info-box-close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  z-index: 1;
  color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25em;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.info-box-content {
  width: 100%;
  height: 100%;
}

.info-thumbs-section,
.info-text-section,
.info-plans-section {
  position: relative;
  height: 50px;
  transition: height 0.5s ease-out;
}
.info-thumbs-section.focused,
.info-text-section.focused,
.info-plans-section.focused {
  height: calc(100% - 100px);
}
.info-thumbs-section.focused .info-section-button,
.info-text-section.focused .info-section-button,
.info-plans-section.focused .info-section-button {
  background-color: rgba(88, 24, 35, 0);
  pointer-events: none;
}
.info-thumbs-section.focused .info-section-button span,
.info-text-section.focused .info-section-button span,
.info-plans-section.focused .info-section-button span {
  transform: translate(-50%, -160%);
  transition-delay: 0s;
}

.info-thumbs-section,
.info-plans-section {
  display: flex;
  flex-direction: column;
}
.info-thumbs-section .thumbnail,
.info-plans-section .thumbnail {
  position: relative;
  flex: 1;
  transition: flex 1.2s ease-in-out;
  overflow: hidden;
  padding: 0 0 2px 0;
}
.info-thumbs-section .thumbnail img,
.info-plans-section .thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.info-thumbs-section .thumbnail img:hover,
.info-plans-section .thumbnail img:hover {
  filter: none;
}
.info-thumbs-section .thumbnail.thumbnail-selected, .info-thumbs-section .thumbnail:hover,
.info-plans-section .thumbnail.thumbnail-selected,
.info-plans-section .thumbnail:hover {
  flex: 4;
}
.info-thumbs-section .thumbnail.thumbnail-selected img, .info-thumbs-section .thumbnail:hover img,
.info-plans-section .thumbnail.thumbnail-selected img,
.info-plans-section .thumbnail:hover img {
  filter: none;
}
.info-thumbs-section .thumbnail.empty,
.info-plans-section .thumbnail.empty {
  display: none;
}

.info-section-button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(88, 24, 35, 0.85);
  cursor: pointer;
  transition: background-color 0.7s;
}
.info-section-button .button-text {
  width: 120px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.info-section-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-family: "droid sans", "open sans";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(-50%, -50%);
  transition: transform 0.5s 0.6s;
  white-space: nowrap;
}

.info-text-section {
  padding: 10px 15px;
  color: white;
  overflow: hidden;
  background-image: url(../assets/ronda-pattern-1-min.svg);
  background-repeat: repeat-y;
  background-size: 100px 500px;
  background-position-x: 17%;
}
.info-text-section.focused .info-header,
.info-text-section.focused .info-description {
  opacity: 1;
}
.info-text-section.focused .info-header {
  transition-delay: 0.5s;
}
.info-text-section.focused .info-description {
  transition-delay: 0.7s;
}

.info-text-wrap {
  /* width: 100%; */
  /* height: 100%; */
  overflow: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.info-header,
.info-description {
  color: white;
  font-size: 0.7em;
  font-family: "droid sans", "open sans";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.info-header {
  padding: 0 0 10px 0;
  font-weight: 900;
}

.info-plan-image-wrap {
  display: none;
}
.info-plan-image-wrap .empty {
  display: none;
}

.facilities-info .info-box-content {
  display: flex;
  flex-direction: column;
}
.facilities-info .info-thumbs-section {
  height: auto;
  flex: 1;
  order: 2;
}
.facilities-info .info-thumbs-section .thumbnail {
  order: 2;
  padding: 0;
}
.facilities-info .info-thumbs-section .thumbnail img {
  filter: none;
}
.facilities-info .info-thumbs-section img,
.facilities-info .info-thumbs-section .ab-header {
  transition: opacity 0.5s;
}
.facilities-info .info-thumbs-section img {
  position: absolute;
  top: 0;
  left: 0;
}
.facilities-info .info-thumbs-section .hidden {
  opacity: 0;
  pointer-events: none;
}
.facilities-info .info-plans-section {
  display: none;
}
.facilities-info .info-text-section {
  height: auto;
  flex-basis: auto;
  flex-grow: 0;
  order: 1;
}
.facilities-info .info-header {
  text-align: center;
}
.facilities-info .info-description {
  display: none;
}
.facilities-info .facilities-btn {
  position: relative;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.facilities-info .facilities-btn img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(0.5);
}
.facilities-info .facilities-btn.ab-prev {
  order: 1;
}
.facilities-info .facilities-btn.ab-next {
  order: 3;
}
.facilities-info .facilities-btn .ab-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px #333;
}

@media (orientation: landscape) {
  .info-box-content {
    display: flex;
  }

  .info-text-section,
.info-thumbs-section,
.info-plans-section {
    height: 100%;
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: flex-basis 0.5s ease-out;
  }
  .info-text-section.focused,
.info-thumbs-section.focused,
.info-plans-section.focused {
    height: 100%;
    flex-basis: 70%;
  }

  .info-thumbs-section,
.info-plans-section {
    flex-direction: row;
  }
  .info-thumbs-section .thumbnail,
.info-plans-section .thumbnail {
    padding: 0 2px 0 0;
  }
  .info-thumbs-section .thumbnail:hover,
.info-plans-section .thumbnail:hover {
    flex: 40;
  }

  .info-section-button .button-text {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .info-plan-image-wrap {
    display: block;
    width: 100%;
    height: 50%;
  }
  .info-plan-image-wrap img {
    display: block;
    width: 100%;
    height: 33.33%;
    object-fit: contain;
  }
}
@media (min-width: 500px) {
  .info-text-wrap {
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) {
  .info-text-section {
    background-size: contain;
  }

  .info-header,
.info-description {
    font-size: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
